.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 1.1em !important;
}

.carousel-inner {
    height: 600px ;
}

.carousel-inner img {
    height: 100%;
    background: rgba(0,0,0,.9);
    z-index: 2;
}

@media (min-width: 1100px) {
    .carousel-inner img {
        width: 100%;
    }
}

.carousel caption {
    position: absolute;
    top: 50%;
    z-index: 3;
    color: #fff;
    text-shadow: 1px 1px 10px #000000;
}

.jumbotron {
    padding: 2em;
    border-radius: 0;
    width: 70%;
    margin: 20px auto 0;
}

.padding {
    padding-bottom: 2em;
}

.alert {
    width: 75%;
    margin: 0 auto;
    padding-top: 2em;
}

.alert hr {
    border-top: 2px solid #f0f0f0;
    width: 95%;
    margin-top: 0.3em;
    margin-bottom: 1em;
}

#fixed {
    height: 400px;
    border-top: 4px solid #f0f0f0;
    border-bottom: 4px solid #f0f0f0;
    background-blend-mode: multiply;
    background: lightblue url("../img/main/2.jpg") no-repeat fixed center center;
    background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    webkit-background-size: cover;
}
.rounded {
    counter-reset: li;
    list-style: none;
    font: 18px "Trebuchet MS", "Lucida Sans";
    padding: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}
.rounded a {
    position: relative;
    display: block;
    padding: .4em .4em .4em 2em;
    margin: .5em 0;
    background: #DAD2CA;
    color: #444;
    text-decoration: none;
    border-radius: .3em;
    transition: .3s ease-out;
}

.rounded a:hover {background: #E9E4E0;}
.rounded a:hover:before {transform: rotate(360deg);}
.rounded a:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: #8FD4C1;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: .3em solid white;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    transition: all .3s ease-out;
}

.social a {
    font-size: 4em;
}

.fa-instagram {color: #BA36B1}

.fa-vk {color: #4C6EF5}

.fa-instagram:hover, .fa-vk:hover {
    color: #ccc;
}

.fa-bed, .fa-dumbbell, .fa-smile {
    font-size: 4em;
}

.transparent50 {
    filter: alpha(Opacity=75);
    opacity: 0.75;
}

.payment {
    font-size: 4em;
}